<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :znamka %>
    <%= form.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, required: true %>
  </div>

  <div class="field">
    <%= form.label :cena %>
    <%= form.number_field :cena, required: true, placeholder: 'Cena v €' %>
  </div>

  <div class="field">
    <%= form.label :moč  %>
    <%= form.number_field :hp, required: true%>
  </div>
  <div class="field">
    <%= form.label :prevozeni  %>
    <%= form.number_field :km, required: true%>
  </div>
  <div class="field">
    <%= form.label :letnik  %>
    <%= form.number_field :letnik, required: true%>
  </div>
  <div class="field">
    <%= form.label :opis %>
    <%= form.text_field :body, required: true %>
  </div>



  <div class="field">
    <%= form.file_field :photo %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
